fuente1 = 'Lato', sans-serif
fuente2 = 'Oswald', sans-serif
color-primario = #333333
color-secundario = #8841da
color-claro = #ffffff
/*MIXIN*/
contenedor()
  display: flex
  width: 96%
  margin: 0 auto
  padding: 30px 0
caja-sombra()
  background-color: color-claro
  box-shadow: 0px 20px 33px 0px rgba(0,0,0,0.20)
/*FUNCIONES*/
opacidad(color, cantidad)
  alpha(color, cantidad)
/*LOOP*/
for header in 3 2 1
  h{header}
    font-size: 35px -(5*header)
    margin: 0
/*CONDICIONALES*/
titulos(fuente)
  if fuente == fuente1
    font-family: fuente1
  else
    font-family: fuente2
    font-weight: 600
    text-transform: uppercase
*
  box-sizing: border-box
  
body
  margin: 0
  color: color-primario
  titulos(fuente1)