-var titulo = "Sub-titulo Principal"
-var titulos = ["Titulo Principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
//- -var usuario = "Andrés"
mixin caja(imagen,titulo,contenido) 
  .caja
    .caja__imagen: img(src="images/"+imagen)
    .caja__contenido
      h3=titulo
      p=contenido
      a.boton Leer más
doctype html
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="css/ejercicio-pug.css")
  body
    header
      h1 PlatziGames
      if usuario
        a Hola #{usuario}
      else 
        a.boton Registro
    section.intro
      .intro__imagen: img(src="images/imagen.png")
      .intro__contenido
        h2 #{titulos[0]}
        p 
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          | Debitis, quasi quis soluta eveniet ratione culpa eaque sint 
          | suscipit doloribus praesentium, odio est dolore totam at!
          | Itaque harum aspernatur illo quas?
          span Debitis, quasi quis soluta eveniet ratione culpa eaque sin
        a.boton Leer Más
    main.contenido
      +caja('imagen.png',titulos[1],'Lorem ipsum dolor sit amet')
      +caja('imagen.png',titulos[2],'Debitis, quasi quis')
      +caja('imagen.png',titulos[3],'Itaque harum aspernatur illo quas?')
      
      