doctype html
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="css/ejercicio-pug.css")
  body
    header
      h1 PlatziGames
      a.boton Registro
    section.intro
      .intro__imagen: img(src="images/imagen.png")
      .intro__contenido
        h2 Titulo Principal
        p 
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          | Debitis, quasi quis soluta eveniet ratione culpa eaque sint 
          | suscipit doloribus praesentium, odio est dolore totam at!
          | Itaque harum aspernatur illo quas?
          span Debitis, quasi quis soluta eveniet ratione culpa eaque sin
        a.boton Leer Más