@color-primario: #333333;
@color-claro: #ffffff;
@color-secundario: #8841da;
@color-variacion: #012179;
@fuente1: 'Lato', sans-serif;
@fuente2: 'Oswald', sans-serif;

* {
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: @fuente1;
  color: @color-primario;
}

h1,h2,h3{
  font-family: @fuente2;
  text-transform: uppercase;
  margin: 0;
}